.bingo-card3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}	
.bingo-card5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}	
.bingo-card7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}	
.cell {
  --dimensions: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
	overflow: hidden;

	text-overflow: clip;
  min-height: var(--dimensions);
  min-width: var(--dimensions);
}

.selected-cell {
	background-color: rgb(220, 220, 100);
}

.bingo-cell {
	background-color: rgb(140, 220, 140);
}

.winner {
	color: green;
	font-size: 40px;
}